{% extends 'base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-5"> &#128221; Track Your Learning.</h1>
        <p class="lead"> Make your own Learning Log, and keep a list of the
            topics you're learning about. Whenever you learn something new
            about a topic, make an entry summarizing what you've learned.
        </p>
        {% if user.is_authenticated %}
        <a class="btn btn-lg btn-primary" href="{% url 'Learning_log_app:topics' %}" role="button"> View Topics &#128211; </a>
        <a class="btn btn-lg btn-primary" href="{% url 'Learning_log_app:new_topic' %}" role="button"> Add New Topic &#9999; </a>
        {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'users:login' %}" role="button"> Getting Started &#9989; </a>
        {% endif %}
    </div>

{% endblock page_header %}

<!--


    <h1>Essentialist Learning Log App</h1>
    <p>Learning Log helps you keep track of your learning, for any topic you're learning about.</p>
    <hr>
    <a href="{% url 'Learning_log_app:topics' %}">Topics</a>


-->
